@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/cuprum.woff2") format("woff2"),
  url("../fonts/cuprum.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: normal;
  src:url("../fonts/cuprumbold.woff2") format("woff2"),
  url("../fonts/cuprumbold.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-weight: 700;
  font-style: italic;
  src:url("../fonts/cuprumbolditalic.woff2") format("woff2"),
  url("../fonts/cuprumbolditalic.woff") format("woff");
}
@font-face {
  font-family: "Cuprum";
  font-weight: 400;
  font-style: italic;
  src:url("../fonts/cuprumitalic.woff2") format("woff2"),
  url("../fonts/cuprumitalic.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src:url("../fonts/ptsans.woff2") format("woff2"),
  url("../fonts/ptsans.woff") format("woff");
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src:url("../fonts/ptsansbold.woff2") format("woff2"),
  url("../fonts/ptsansbold.woff") format("woff");
}


:root {
  --dark-blue:#293449;
  --dark-blue-click:#161D29;
  --more-dark-blue:#1D2739;
  --red-logo:#EE3643;
  --red-extra:#CA2C37;
  --red-error:#BA2732;
  --basic-green:#63A63E;
  --success-green:#5FBB2D;
  --dark-green:#518534;
  --basic-white:#ffffff;
  --basic-black:#000000;
  --yelllow:#FFBF47;
  --light-blue:#3BBCE3;
  --purple:#DC91D8;
  --light-green:#8ED78F;
  --gold:#FFC047;
  --dark:#F9F5F0;
  --extra-dark-blue:#32425C;
  --basic-dark:#aba9a7;
  --basic-neutral:#e5e5e5;
  --basic-extra-light:#f8f5f2;
  --light-gold:#FFD180;
  --gray:#EAEAEA;
  --light-gray:#F9F5F0;
  --simple-gray:#F1F5F7;
  --dark-grey:#A9A9A9;
  --form-field:#C5C5C5;
  --new-gray:#F7F3EC;
  --new-gray2:#F1F1F1;
  --white-transporent:rgba(255,255,255, 0.3);
  --basic-gray-trasporent:rgba(197, 197, 197, 0.3);
  --dark-grey-transporent:rgba(169, 169, 169,0.3);
  --shadow: rgba(0, 0, 0, 0.25);
  --form-footer: #F4F4F4;
}
body {
  background-color: var(--basic-white);
  margin: 0;
  padding: 0;
  font-family:"Cuprum", "Arial", "sans-serif";
  font-weight: normal;

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  width: 1200px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
.main-navigation {
  background-color: var(--extra-dark-blue);
  margin: 0px auto;
  grid-row: 2/3;
  width: inherit;
}
.main-navigation .site-navigation {
  display: grid;
  grid-template-columns: max-content max-content max-content max-content max-content max-content max-content;
  gap: 56px;
}
.site-navigation li {
  display: inline;
}
.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}
.site-navigation  a:hover {
  background-color: var(--dark-blue);
}
.site-navigation  a:active {
  background-color: var(--more-dark-blue);
}

.main-header {
  background-color: var(--gray);
  grid-row:1/2;
  display: grid;
  padding-bottom: 60px;
}
.header-wrapper {
  background-color: var(--dark-blue);
  display: grid;
  grid-template-columns: 1fr 940px 1fr;

}
.header-container {
  background-color: inherit;
  display: grid;
  grid-template-columns:220px 270px 150px 150px 150px;
  grid-column:2/3;
}
.header-container-1 {
  display: grid;
  grid-template-columns: 1fr 320px 320px 140px 160px 1fr;
  grid-row: 1/2;
}

.main-header-logo {
  grid-column: 1/2;
}
.main-footer-logo,.main-header-logo {
  background-color: var(--red-logo);
  color: var(--basic-white);
}

.form-search-wrapper {
  grid-column: 2/3;
}
.bookmark {
  grid-column: 3/4;
}
.bin {
  grid-column: 4/5;
}
.header-container .make-order {
  background-color: var(--basic-green);
  grid-column: 5/6;
  align-items: center;
}
.header-container .make-order:hover {
  background-color: var(--success-green);
}
.header-container .make-order:active {
  color:rgba(255, 255, 255, 0.5);
}
.main-header-logo:active {
  background-color: var(--red-error);
}
.header-main-navigation
{
  display: grid;
  grid-template-rows:155px 60px;
}
.store-description {
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
  color:var(--red-logo);
  align-items: center;
  grid-column: 2/3;
}
.header-contacts
{
  grid-column: 3/4;
}
.index-main-wrapper
{
  grid-row:2/3;
  width: inherit;
}
.features-materials {
  background-color: var(--yelllow);
  grid-column:1/2;
  grid-row:1/2;
}
.features-tools {
  background-color: var(--light-blue);
  grid-column:2/3;
  grid-row:1/2;
}
.features-technics {
  background-color: var(--purple);
  grid-column:3/4;
  grid-row:1/2;
}
.features-discounts {
  background-color: var(--light-green);
  grid-column:3/4;
  grid-row:2/3;
}
.features-delivery {
  background-color: var(--gold);
  grid-column:3/4;
  grid-row:3/4;
}
.features-perforators
{
  grid-column:1/3;
  grid-row:2/4;
}
.features-items {
display: grid;
grid-template-columns: repeat(3,300px);
grid-template-rows:repeat(3,123px);
gap: 20px;
}
.popular-products-container {
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: max-content 192px;
}
.all-products, .all-manufacturers {
background-color: var(--red-logo);
color:var(--basic-white);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
align-items: center;
text-align: center;
text-transform: uppercase;
}
.popular-manufacturers-header {
  background-color: var(--light-gray);
  display: grid;
  grid-template-columns: max-content 192px;
}
.manufacturers-content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,220px);
  grid-template-rows: repeat(2,145px);
}
.services {
  background-color: var(--simple-gray);
  padding-top: 64px;
}
.services-all-content h3
{
 margin-top: 0px;
 margin-bottom: 25px;
}
.services-wrapper {
  display: grid;
}
.services-title {
  grid-row:1/2;
}
.services-list {
  grid-column:1/2;
  list-style-type:none;
  margin-right: 80px;
  padding: 0;
}
.service-delivery, .service-warranty,.service-credit
{
  grid-column:2/3;
  display: flex;
  grid-template-rows: max-content max-content;
}
.service-delivery
{

}
.service-warranty
{
  display: none;
}
.service-credit
{
  display: none;
}
.footer-first-wrapper {
  background-color: var(--extra-dark-blue);
}
.header-container .form-search:active, .header-container .bookmark:active,
.header-container .bin:active {
  color:rgba(255, 255, 255, 0.5);
}
.footer-contacts {
  background-color: var(--dark-blue);
  padding-top:36px;
}
.form-search {
  color: var(--basic-white);
  font-size: 18px;
}
.header-container a {
  color: var(--basic-white);
  font-size: 18px;
}
.store-description-phone {
  color:var(--red-logo);
  font-size: 21px;
  font-weight: bold;
  line-height: 30px;
}
.store-description-address {
  font-size: 14px;
  line-height: 24px;
  display: flex;
  color:var(--extra-dark-blue);
}
.header-container-1 .login-link
{
grid-column: 4/5;
}
.header-container-1 .reg-link
{
grid-column: 5/6;
}
.login-link, .reg-link {
  color: var(--basic-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--basic-white);
}
.login-link:hover, .reg-link:hover {
  color: var(--red-logo);
}
.login-link:active, .reg-link:active
{
  color: var(--form-field);
}
.popular-products-container h1 {
  font-size: 30px;
  line-height: 30px;
  color:var(--extra-dark-blue);
}
.standart-size {
  width: 940px;
  margin: 0 auto;
}
.products-content {
  font-family:"PT Sans", "Arial", "sans-serif";
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4,220px);
}
.subject {
  display: grid;
}
.subject a {
font-weight: bold;
font-size: 18px;
line-height: 20px;
}
.subject s {
  color:var(--dark-grey);
  text-align: center;
}
.subject p {
font-weight: bold;
font-size: 17px;
line-height: 18px;
color:var(--basic-white);
}
.subject-price div {
 display: inline-block;
}
.subject .name {
  color:var(--basic-black);
  text-align: center;
}
.buy-link-subject {
  background-color: var(--basic-green);
  color:var(--basic-white);
  font-weight: normal;
}
.buy-link-subject:hover {
  background-color:var( --success-green);
}
.buy-link-subject:active {
  background-color:var( --dark-green);
}
.bookmark-link-subject {
  background-color:var(--basic-white);
  color:var(--extra-dark-blue);
  font-weight: normal;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  border-radius: 2px;
}
.bookmark-link-subject:hover {
  border: 3px solid var(--extra-dark-blue);
}
.bookmark-link-subject:active {
  border: 3px solid var(--extra-dark-blue);
  text-shadow: 0px 4px 4px var(--extra-dark-blue);
  box-shadow: 0px 4px 4px 0px var(--shadow);
  color:var(--extra-dark-blue);
  opacity: 0.5;
}
.triangle_right {
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-left: 30px solid var(--red-logo);
  border-bottom: 19px solid transparent;
}
 .rectangle {
  width: 113px;
  height: 38px;
  background: var(--red-logo);
}
.popular-manufacturers h3,.popular-products h3 {
  color:var(--extra-dark-blue);
  font-size: 30px;
  line-height: 30px;
}
.services h3 {
font-size: 30px;
line-height: 30px;
}
.services .about-services {
font-family: "PT Sans";
font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 24px;
}
.services-list li {
  background-color:var(--extra-dark-blue);
  font-size: 21px;
  line-height: 30px;
  color:var(--basic-white);
}
.services-list li:hover {
  background-color: var(--dark-blue);
}
.services-list li:active, .services-list li:nth-child(1) {
  background-color: var(--basic-white);
  color:var(--extra-dark-blue);
}
.services h4 {
  font-size: 30px;
  line-height: 30px;
}
.services .service-description {
font-family: "Cuprum";
font-size: 13px;
line-height: 24px;
}
.service-credit .service-credit-button-take,
.more-about-company, .about-company-write-us,
.write-us-send {
  background-color: var(--red-logo);
  color:var(--basic-white);
  margin: 37px 0px;
}
.write-us-send {
width: 100%;
}
.about-company h3 {
 font-size: 30px;
 line-height: 30px;
 margin-top: 70px;
 margin-bottom: 24px;
}
.about-company {
  display: grid;
  grid-template-columns: max-content  1fr;
}
.about-company-slogan {
  grid-column: 1/2;
  display: grid;
}
.about-company-contacts {
  grid-column: 2/3;
  display: grid;
  justify-self:end;
}
.detail-map {
  display: none;
}
.form-user-name, .form-user-email, .form-comment {
background:var(--basic-white);
border: 2px solid var(--form-field);
box-sizing: border-box;
border-radius: 2px;
}
.lose-form label {
  font-size: 18px;
  line-height: 24px;
}
.lose-form {
  display: grid;
  width: 620px;
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
  "lose-form-close"
  "lose-form-content"
  "lose-form-footer";
   display: none;
}
.lose-form-footer {
  background:var(--form-footer);
}
.form-comment {
  width: 100%;
  min-height: 114px;
  padding: 0px;
  resize: none;
}
.lose-form-content {
  grid-area: lose-form-content;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "lose-form-name lose-form-email"
  "lose-form-message lose-form-message";
  display: grid;
  gap: 20px;
}
.lose-form-content-size {
  width: 460px;
  margin: 0 auto;
}
.lose-form-close {
  grid-area: lose-form-close;
  justify-self:end;
}
.lose-form-message {
  grid-area: lose-form-message;
  margin-bottom: 37px;
}
.lose-form-email {
  grid-area: lose-form-email;
}
.lose-form-name {
  grid-area: lose-form-name;
}
.main-footer li {
  display: inline;
}
.footer-main-navigation {
margin-top: 37px;
display: grid;
gap: 58px;
grid-template-columns:  repeat(5, max-content);
}
.footer-additional-navigation {
  margin-top: 34px;
  display: grid;
  grid-template-columns:  repeat(4, max-content);
  gap: 58px;
}
.footer-nav-wrapper nav {
  justify-self:end;
}
.footer-main-navigation a {
  color:var(--simple-gray);
}
.footer-additional-navigation a {
  color:var(--light-gold);
}
.footer-main-navigation a:hover, .footer-additional-navigation a:hover {
  text-decoration: underline;
}
.footer-main-navigation a:active, .footer-additional-navigation a:active {
  opacity: 0.5;
}

.main-footer {
  /*margin-top: 70px;*/
  grid-row: 3/4;
}
.main-footer .main-footer-address {
  color:var(--basic-white);
  font-size: 18px;
  line-height: 24px;
  width: max-content;
}
.footer-contacts .rights-reserved {
  font-size: 16px;
  line-height: 18px;
  color:var(--basic-white);
}
.footer-contacts-wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr min-content;
}
.footer-nav-wrapper {
  display: grid;
  grid-template-rows: max-content max-content;
  grid-template-columns: 100%;
}
.footer-nav-wrapper div {
  display: grid;
  grid-template-columns: max-content 1fr;
}
.footer-mail {
  width: 137px;
  margin-left: 118px;
  justify-self:end;
}
.footer-academy-site {
  width: 98px;
  margin-left: 51px;
  justify-self:end;
}
.footer-social-sites {
  margin-left: 161px;
}
.footer-mail, .footer-academy-site {
  color:var(--basic-white);
}
.footer-mail a, .footer-academy-site a {
  color:var(--light-gold);
}
.footer-mail a:hover, .footer-academy-site a:hover {
  text-decoration: underline;
}
.footer-mail a:active, .footer-academy-site a:active {
  color:var( --red-logo);
}
.bread-crumps li, .bread-crumps a {
font-family: "PT Sans";
font-size: 13px;
line-height: 18px;
color:var( --basic-black);
}
.bread-crumps li, .sorting li, .page-separator li {
display: inline;
list-style-type: none;
}
.bread-crumps {
  grid-area: bread-crumps;
  text-transform: uppercase;
}
.catalog-main-wrapper {
  display: grid;
  margin-top: 21px;
  grid-row:2/3;
}
.catalog-main-wrapper h1, .search-results h3
{
  display: none;
}
.catalog-top {
  display: grid;
  grid-template-areas:
  "bread-crumps bread-crumps bread-crumps bread-crumps"
  "header header header header"
  "filters sorting sorting sorting"
  "filters goods goods goods";
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
}
.search-results-goods {
  display: grid;
  list-style-type: none;
  grid-template-columns: repeat(3,1fr);
}
.current-catalog-wrapper {
  background:var( --simple-gray);
  grid-area: header;
  padding-left: 29px;
}
.filter-title, .price-slider, .sorting, .filter-price-limit {
  background:var( --new-gray);
}
.filter-price-limit {
/*width: 95px;*/
}
.price-limit-wrapper {
 /* display: flex;*/
}
.sorting h3, .sorting ul {
  display: inline-block;
}
.filter-form {
  display: grid;
}
.sorting ul
{
  margin:0px;
  margin-left: 140px;
  padding-left: 0px ;
}
.sorting li:nth-child(2) {
 margin-left: 70px;
}
.sorting li:nth-child(3) {
  margin-left: 65px;
 }
 .sorting li:nth-child(4) {
  margin-left: 46px;
 }
 .sorting li:nth-child(5) {
  margin-left: 21px;
 }
.filter-title {
font-family: "PT Sans";
font-size: 13px;
line-height: 18px;
color:var( --basic-black);
}
.manufacturer-filter-name, .price-filter-name, .charging-filter-name {
font-family: "PT Sans";
font-style: normal;
font-weight: bold;
font-size: 17px;
line-height: 30px;
}
.filters {
  grid-area: filters;
}
.filters h3, .sorting h3 {
 padding-top: 10px;
 padding-bottom: 10px;
 font-family: "PT Sans";
 font-size: 13px;
 line-height: 18px;
}
.filters label {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 15px;
  line-height: 19px;
}
.sorting {
  grid-area: sorting;
}
.sorting a {
  font-family: "PT Sans";
  font-style: normal;
  font-size: 13px;
  line-height: 18px;
  opacity: 0.3;
  border-bottom: 1px dotted var(--red-logo);
  color:var(--basic-black);
}
.sorting a:hover {
  opacity: 1;
  border-bottom: 1px solid  var(--red-logo);
}
.sorting a:active {
  opacity: 1;
  border-bottom: none;
  color:var(--red-logo);
}
.search-results {
  grid-area: goods;
}
.page-separator a {
  color:var(--basic-black);
}
.page-separator li {
  border: 1px solid var(--basic-neutral);
}
.page-separator .first-page {
  background: var(--red-logo);
  color:var(--basic-white);
}
.page-separator li:hover {
  border: 1px solid var(--form-field);
}
.page-separator li:active {
  border: 1px solid var(--red-logo);
}
.perforators-article {
  background-color: var(--simple-gray);
  padding-bottom: 68px;
  padding-top:64px;
}
.perforators-article h3 {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
}
.perforators-article p {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}
.in-bin-popup {
  border-top: 7px solid  var(--red-logo);
  width: 620px;
  /*display: none;*/
  margin: 0 auto;
  display: grid;
  grid-template-areas:
  "close"
  "status"
  "control";
   grid-template-rows: min-content min-content min-content;
}
.in-bin-popup-close {
  justify-self:end
}
.in-bin-popup h3
{
  display: none;
}
.in-bin-popup b {
font-family: "Cuprum";
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 30px;
}
.in-bin-popup-footer {
  background: var(--new-gray2);
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 114px;
  padding-right: 112px;
}
.in-bin-popup-footer .make-order, .in-bin-popup-footer .continue-shopping {
  font-family: "Cuprum";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}
.in-bin-popup-status {
   padding-left: 81px;
   display: table;
}
.in-bin-popup-status b {
  margin-top: auto;
  margin-bottom: auto;
  display: table-cell;
  vertical-align: middle;
}
.in-bin-popup-footer .make-order {
  background: var(--red-logo);
  color:var(--basic-white);
}
.in-bin-popup-footer .continue-shopping {
  background: var(--basic-white);
  color:var(--basic-black);
}
.features span {
  color:var(--basic-white);
  font-family: "Cuprum";
  font-weight: bold;

}
.features-opening >span {
  text-transform:uppercase;
}
.features-opening {
  background-color:var(--white-transporent);
}
.features h3 {
  display: none;
}
.features-opening:hover {
  background-color:var(--basic-gray-trasporent);
}
.features-opening:active {
  background-color:var(--dark-grey-transporent);
}
.features-opening span {
  font-family: "Cuprum";
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
}
.perforators-active-switch {
  background-color:var(--red-logo);
}
.features-perforators-title {
  font-family: "Cuprum";
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  color:var(--basic-white);
}
.features-perforators-title span {
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
.perforators-catalog {
  background-color:var(--red-logo);
  color:var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform:uppercase;
}
.perforators-catalog:hover {
  background-color:var(--red-extra);
}
.perforators-catalog:active {
  background-color:var(--red-error);
}
.main-footer-address a {
  color: inherit;
}
.store-description-phone a {
  color: inherit;
}
.manufacturer img {
  border: 1px solid var(--gray);
  box-sizing: border-box;
}
.manufacturer img:hover {
  box-shadow: 0px 0px 4px 4px  var(--shadow);
}
.manufacturer img:active {
  box-shadow: 0px 0px 4px 4px var(--shadow);
  opacity: 0.25;
}
.page {
  height: 100%;
}


